<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/title.ejs %>
      <div class="row">
      </div>
      <div class="row">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <p> Don't ruin your engagement rate by sharing a very long and impossible to remember link. Shorten your URL with our app NOW! </p>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <form class="" action="" method="post">
            <input type="url" name="url" placeholder="Insert URL here" class="validate">
            <button type="submit" class="waves-effect waves-teal btn-large">Shorten URL!</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
