<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/header.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <% include ../partials/title.ejs %>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col s6 offset-s3">
          <p style="font-family:Raleway" class="center"> Don't ruin your engagement rate by sharing a very long and impossible to remember link.<br/><br/></p>
          <p style="font-family:Raleway" class="center"><b>Shorten your URL with our app NOW!</b></p>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row">
        <div class="col s12 center">
          <a class="waves-effect waves-light btn-large orange" href="/create">GENERATE NOW!</a>
        </div>
      </div>
  </body>
</html>
